<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>article</title>
</head>
<body>
	<header>
		{% if art %}
		<h1>blogname : {{art.blogname.name}}</h1>
		<h1>words : {{art.blogname.words}}</h1>
		{% endif %}
	</header>
	<div class="user">
		{% if u %}
			<h3>welcome: {{u.nickname}}</h3>
			<a href="/personal/">myblog</a>
			<a href="/account/logout/">logout</a>
		{% endif %}
	</div>
	<div class="article">
		{% if art %}
			<h2>title: {{art.title}}</h2>
			<div>
				<span>writer : {{art.writer.nickname}}</span>
				<span>createtime : {{art.createtime}}</span>
				<span>modifiedtime: {{art.modiftime}}</span>
			</div>
			<p>{{art.content}}</p>

			{% if canedit == True %}
				<a href="/personal/article/edit/{{art.id}}/">edit</a>
				<a href="/personal/article/del/{{art.id}}/">delete</a>
			{% endif %}
			
		{% endif %}
	</div>

</body>
</html>