<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>art Article</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/articles.css">


</head>
<body>

	<div id="content">
		<div id="settings">

				<table>
					<thead>
						<tr>
							<td>标题</td>
							<td>状态</td>
							<td>操作</td>
							<td>操作</td>
						</tr>
					</thead>
					{% for article in articles %}
					<tr>
						<td>{{article.title}}</td>
						<td>{{article.state}}</td>
						<td><a href="/personal/article/edit/{{article.id}}/">编辑</a></td>
						<td><a href="/personal/article/del/{{article.id}}/">删除</a></td>
					</tr>
					{% endfor %}
				</table>

		</div>
		<div id="sidebar">
			<div class="inner">
				<div>
					<ul>
						<li>
							<a href="/personal/">个人资料</a>
						</li>
						<li>
							<a href="/personal/article/add/">文章</a>
						</li>
						<li class="active">
							<a href="/personal/articles/">文章列表</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">

</script>
</html>
