<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ublog.name}}</title>

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/personal.css">
</head>
<body>

	<div id="content">
		<div id="settings">
			<form method="post" enctype="multipart/form-data">
				<table>
					<tr>
						<td>photo</td>
						<td>
							{% if u.photo %}
								{% if u.photo|slice:"4" == "http" %}
								<img src="{{u.photo}}"><br/>
								{% else %}
								<img src="{{STATIC_URL}}{{u.photo}}"><br/>
								{% endif %}
							{% endif %}
							<input name="photo" type="file"><br/>
						</td>

					</tr>
					<tr>
						<td><label>realName</label></td>
						<td>{{u.realname}}</td>
						
					</tr>
					<tr>
						<td><label>nickName</label></td>
						<td>{{u.nickname}}</td>
					</tr>
					<tr>
						<td><label>mail</label></td>
						<td><input name="mail" type="text" placeholder="{{u.mail}}"></td>
					</tr>
					<tr>
						<td><label>website</label></td>
						<td><input name="website" type="text" placeholder="{{u.website}}"></td>
					</tr>
					<tr>
						<td>
							<label>birth</label>
						</td>
						<td><input name="birth" type="text" placeholder="{{u.birth}}"></td>
					</tr>
					<tr>
						<td><label>sex</label></td>
						<td>
							{% if u.sex == 0 %}
							<input name="sex" type="radio" checked="true" value="0">
							<label>男</label>
							<input name="sex" type="radio" value="1">
							<label>女</label>
							{% endif %}
							{% if u.sex == 1 %}
							<input name="sex" type="radio" value="0">
							<label>男</label>
							<input name="sex" type="radio" checked="true" value="1">
							<label>女</label>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td><label>phone</label></td>
						<td><input name="phone" type="text" placeholder="{{u.phone}}"></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="保存"></td>

					</tr>
				</table>
				
			</form>
		</div>
		<div id="sidebar">
			<div class="inner">
				<div id="nickname">
					<strong><a href="/">{{u.nickname}}</a></strong>
				</div>
				<div>
					<ul>
						<li class="active">
							<a href="/personal/">个人资料</a></li>
						<li><a href="article/add/">文章</a></li>
						<li><a href="articles/">文章列表</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</body>
</html>